/* Definindo o tamanho da fonte padrão como o do navegador */
html {
	font-size: 62.5%;/* tamanho padrão 10px */
}

body {
	margin: 0;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.4rem;
}